# 20-1 ESAA 프로젝트: 2017~2019 3개년 전국 아파트 실거래가 분석

# 1. 개요

In [ ]:
본 데이터는 한국감정원 아파트 거래현황 자료의 2017.10.01 ~ 2019.12.31 데이터입니다. 
전반적인 데이터를 전처리 및 시각화 한 후
Random Forest 모델을 적용해 지역별(구 기준), ?별 제곱미터당 거래가격을 예측해보는 회귀모델을 생성 해보았습니다.

In [ ]:
검색조건 계약일자 : 20170101 ~ 20191231 
실거래구분 : 아파트(매매) 
주소구분 : 지번주소 
시도 : 전체
시군구 : 전체 
읍면동 : 전체 
면적 : 전체 
금액선택 : 전체

# 2. 탐색적 자료분석 (EDA)

1. 필요한 패키지

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import matplotlib.font_manager as fm
from sklearn.ensemble import RandomForestRegressor
import sklearn as sk
import sklearn.datasets as skd
import sklearn.ensemble as ske
from sklearn.model_selection import train_test_split
%matplotlib inline

2. 데이터 불러오기 및 데이터 파악

In [2]:
# 데이터 불러오기
apt2017_1 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-1_apt.csv', thousands = ',') # thousands = ',' : 천 단위 자리 구분 기호 없애고 가져오기
apt2017_2 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-2_apt.csv', thousands = ',')
apt2017_3 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-3_apt.csv', thousands = ',')
apt2017_4 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-4_apt.csv', thousands = ',')
apt2017_5 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-5_apt.csv', thousands = ',')
apt2017_6 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-6_apt.csv', thousands = ',')
apt2017_7 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-7_apt.csv', thousands = ',')
apt2017_8 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-8_apt.csv', thousands = ',')
apt2017_9 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-9_apt.csv', thousands = ',')
apt2017_10 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-10_apt.csv', thousands = ',')
apt2017_11 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-11_apt.csv', thousands = ',')
apt2017_12 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2017-12_apt.csv', thousands = ',')

apt2018_1 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-1_apt.csv', thousands = ',')
apt2018_2 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-2_apt.csv', thousands = ',')
apt2018_3 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-3_apt.csv', thousands = ',')
apt2018_4 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-4_apt.csv', thousands = ',')
apt2018_5 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-5_apt.csv', thousands = ',')
apt2018_6 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-6_apt.csv', thousands = ',')
apt2018_7 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-7_apt.csv', thousands = ',')
apt2018_8 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-8_apt.csv', thousands = ',')
apt2018_9 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-9_apt.csv', thousands = ',')
apt2018_10 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-10_apt.csv', thousands = ',')
apt2018_11 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-11_apt.csv', thousands = ',')
apt2018_12 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2018-12_apt.csv', thousands = ',')

apt2019_1 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-1_apt.csv', thousands = ',')
apt2019_2 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-2_apt.csv', thousands = ',')
apt2019_3 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-3_apt.csv', thousands = ',')
apt2019_4 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-4_apt.csv', thousands = ',')
apt2019_5 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-5_apt.csv', thousands = ',')
apt2019_6 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-6_apt.csv', thousands = ',')
apt2019_7 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-7_apt.csv', thousands = ',')
apt2019_8 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-8_apt.csv', thousands = ',')
apt2019_9 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-9_apt.csv', thousands = ',')
apt2019_10 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-10_apt.csv', thousands = ',')
apt2019_11 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-11_apt.csv', thousands = ',')
apt2019_12 = pd.read_csv('C:/Users/이현주/Desktop/대학교/ESAA/2020-1 부동산 가격예측 프로젝트/TeamProject/2019-12_apt.csv', thousands = ',')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# 연도별로 데이터 합치기
apt2017 = pd.concat([apt2017_1, apt2017_2, apt2017_3, apt2017_4, apt2017_5, apt2017_6, apt2017_7, apt2017_8, apt2017_9, apt2017_10, apt2017_11, apt2017_12])
apt2018 = pd.concat([apt2018_1, apt2018_2, apt2018_3, apt2018_4, apt2018_5, apt2018_6, apt2018_7, apt2018_8, apt2018_9, apt2018_10, apt2018_11, apt2018_12])
apt2019 = pd.concat([apt2019_1, apt2019_2, apt2019_3, apt2019_4, apt2019_5, apt2019_6, apt2019_7, apt2019_8, apt2019_9, apt2019_10, apt2019_11, apt2019_12])

In [7]:
apt2017.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.8000,201701,10,12400,8,1997,경강로2539번길 8
1,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.9900,201701,3,23000,13,2005,경강로2539번길 22
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,59.9900,201701,4,15800,9,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,59.9900,201701,21,14000,1,2005,경강로2539번길 22
4,강원도 강릉시 교동,1983,1983,0,강릉교동롯데캐슬2단지,84.9855,201701,5,27250,11,2009,화부산로111번길 24

In [8]:
apt2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 570324 entries, 0 to 40192
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   시군구       570324 non-null  object
 1   번지        570232 non-null  object
 2   본번        570324 non-null  object
 3   부번        570324 non-null  int64
 4   단지명       570324 non-null  object
 5   전용면적(㎡)   570324 non-null  float64
 6   계약년월      570324 non-null  int64
 7   계약일       570324 non-null  int64
 8   거래금액(만원)  570324 non-null  int64
 9   층         570324 non-null  int64
 10  건축년도      570324 non-null  int64
 11  도로명       570324 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 56.6+ MB

In [4]:
# 2017년도 데이터 결측치 개수 확인
apt2017.isnull().sum()

시군구          0
번지          92
본번           0
부번           0
단지명          0
전용면적(㎡)      0
계약년월         0
계약일          0
거래금액(만원)     0
층            0
건축년도         0
도로명          0
dtype: int64

In [5]:
# 2018년도 데이터 결측치 개수 확인
apt2018.isnull().sum()

시군구          0
번지          43
본번           0
부번           0
단지명          0
전용면적(㎡)      0
계약년월         0
계약일          0
거래금액(만원)     0
층            0
건축년도         0
도로명          0
dtype: int64

In [6]:
# 2019년도 데이터 결측치 개수 확인
apt2019.isnull().sum()

시군구          0
번지          52
본번           0
부번           0
단지명          0
전용면적(㎡)      0
계약년월         0
계약일          0
거래금액(만원)     0
층            0
건축년도         0
도로명          0
dtype: int64

3. 데이터 처리

(1) 3개년 데이터 합치기

In [11]:
apt171819 = pd.concat([apt2017, apt2018, apt2019])

(2) 시군구 변수를 시-군-구로 분리

In [12]:
apt171819['도'] = apt171819['시군구'].str.split(' ').str[0]
apt171819['시/구'] = apt171819['시군구'].str.split(' ').str[1]
apt171819['동'] = apt171819['시군구'].str.split(' ').str[2]
apt171819['동']

0        견소동
1        견소동
2        견소동
3        견소동
4         교동
        ...
70396    호암동
70397    호암동
70398    호암동
70399    호암동
70400    호암동
Name: 동, Length: 1610485, dtype: object

(3) 계약년월을 계약연도-계약월로 분리

In [13]:
apt171819['계약년월1'] = apt171819['계약년월'].astype(str)
apt171819['계약연도'] = apt171819['계약년월1'].str[0:4]
apt171819['계약월'] = apt171819['계약년월1'].str[4:]
apt171819['계약월']

0        01
1        01
2        01
3        01
4        01
         ..
70396    12
70397    12
70398    12
70399    12
70400    12
Name: 계약월, Length: 1610485, dtype: object

4. 데이터 시각화

데이터 시각화에서는 다음과 같이 데이터를 시각화 해보았습니다.

- 연도별 거래금액의 평균 / 연도별 거래량 많은 시,도
- 월별 거래량 / 평균 거래금액
- 구별 거래량 / 평균 거래금액 / ㎡당 금액
- 건축연도별 거래량 / 평균 거래금액 / ㎡당 금액
- 층별 거래량 / 평균 거래금액
- 전용면적별(평수별) 거래량

- 수도권 / 비수도권 간 전반적 비교
- 서울 / 경기 지역 간 비교
- 건축연도 2000년 전후로 거래금액 비교

(1) 연도별 거래금액 평균 / 연도별 거래량 많은 시,도